* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0% 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  background-color: rgb(24, 24, 24);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  font-size: 1rem;
  color: rgb(245, 245, 245);
}

h3 {
  font-size: 1rem;
  color: rgb(245, 245, 245);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: rgb(245, 245, 245);
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: rgb(24, 24, 24);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 65, 65);
}
